<%- include("./partials/header") %>
    <h1>About</h1>
    <h5>This website works like a personal diary for you. You can store all of your random thoughts,study notes, stories,
        precious moments or incidents, self-created literature, anything that you want to keep to yourself and review
        again. Feel free to post your ideas or thoughts here, we will keep them save for you.</h5>
<%- include("./partials/footer") %>