<%- include("./partials/header") %>
    <h1>Contact</h1>
    <p><a href="mailto:sarthak2232@gmail.com">Gmail-Id</a><br><a
            href="http://www.linkedin.com/in/sarthaksharma2232">LinkedIn</a><br><a
            href="http://www.youtube.com/@sarthak2232">YouTube</a></p>
<%- include("./partials/footer") %>